* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'ProductSans',sans-serif;
  text-decoration: none;
  outline: none;
  font-weight:normal;
}
@font-face {
  font-family:'ProductSans';
  src:url(ProductSans.ttf);
}
html {
  scroll-behavior: smooth;
}
body {
  background: #eef3f9;
  height: 100vh;
}
/* loader */
.loader-box{
    position:fixed;
    content:'';
    top:0;
    left:0;
    width:100%;
    display:grid;
    place-items:center;
    height:100vh;
    background:#000;
    z-index:50;
}
.loader{
    width:130px;
    height:130px;
    position:relative;
    animation:rot 1s ease-in-out infinite;
}
.loader div{
    width:30px;
    height:30px;
    border-radius:50%;
    background:#fff;
    animation:sc 1.2s ease infinite;
    position:absolute;
}
.loader .rot1{
    top:20%;
    left:38%;
}
.loader .rot2{
    animation-delay:0.5s;
    left:22%;
    bottom:30%;
}
.loader .rot3{
    animation-delay:1s;
    right:22%;
    bottom:30%;
}
@keyframes sc{
    50%{
        transform:scale(0);
        opacity:0;
    }
}
@keyframes rot{
    100%{
        transform:rotate(360deg);
    }
}
.back {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transition: 0.1s ease;
  background: rgba(0,0,0,0.4);
  z-index: 2;
}
.back.act {
  left: 0;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;
  z-index: 2;
}
.navbar.active{
  padding: 12px 18px;
  background: rgba(255,255,255,0.92);
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.navbar .logo{
  color: #fff;
  letter-spacing: 1px;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
.navbar.active .logo{
  color: #5f8dee;
}
.navbar #btn {
  position: relative;
  width: 30px;
  height: 25px;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.navbar #btn:before {
  position: absolute;
  content: '';
  right: 0;
  width: 25px;
  height: 3px;
  background: #fff;
  transform: translateY(-7px);
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.navbar #btn.act:before {
  width: 100%;
  transform: rotate(45deg);
}
.navbar #btn div {
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.navbar #btn.act div {
  margin-right: -200%;
}
.navbar #btn:after {
  position: absolute;
  content: '';
  right: 0;
  width: 20px;
  height: 3px;
  transform: translateY(7px);
  background: #fff;
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.navbar #btn.act:after {
  transform: rotate(-45deg);
  width: 100%;
}
.navbar.active #btn:before,#btn div,#btn:after{
  background: #fff;
}
/* end of btn */
#sidenav {
  position: fixed;
  top: 0;
  left: -100%;
  width: 280px;
  height: 100%;
  background: rgba(255,255,255,0.95);
  box-shadow: 1px 0 2px rgba(0,0,0,0.2);
  z-index: 3;
  border-right: 2px solid #768fa7;
  overflow-y: auto;
  transition: 0.4s;
}
#sidenav.act {
  left: 0;
}
#sidenav::-webkit-scrollbar{
  display: none;
}
#sidenav img {
  display: block;
  width: 160px;
  height: 160px;
  padding: 2px;
  margin: 40px auto;
  margin-bottom: 20px;
  border-radius: 50%;
  border: 5px solid #94aec7;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  animation: lf 8s linear infinite alternate;
}
@keyframes lf{
  25%{
    transform: translateY(5px) translateX(-5px);
  }
  50%{
    transform: translateY(5px) translateX(5px);
  }
  75%{
    transform: translateY(5px) translateX(-5px);
  }
  100%{
    transform: translateY(-5px) translateX(-5px);
  }
}
#sidenav ul li a {
  display: block;
  width: 100%;
  padding: 11px 20px;
  font-size: 17px;
  color: #576d82;
  font-weight: 600;
  letter-spacing: 1px;
  border-bottom: 1.5px solid #768fa7;
}
#sidenav ul li a i{
  margin-right: 10px;
  font-weight: normal;
}
#sidenav ul li a:hover {
  background: #768fa7;
  transition: 0.3s;
  padding-left: 30px;
  color: #fff;
}
#sidenav .social {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sidenav .social a {
  display: block;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 43px;
  font-size: 22px;
  color: #576d82;
  border: 2px solid #768fa7;
  border-radius: 50%;
  margin: 10px 2px;
  animation: rot 5s linear infinite;
}
@keyframes rot{
  100%{
    transform: rotate(360deg);
  }
}
#sidenav .social a:hover {
  background: #768fa7;
  color: #fff;
  transition: 0.3s;
}
@media screen and (max-width: 480px) {
   a {
    cursor: default;
  }
}
/*end navbar*/

/* back to top button*/
.top-btn {
  position: fixed;
  content: '';
  bottom: 20px;
  right: -100%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
  color: #fff;
  font-size: 18px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  z-index: 5;
  transition: 0.3s ease-in;
  animation: upd 2s linear infinite alternate;
}
.top-btn.tb {
  right: 20px;
}
@keyframes upd{
  100%{
    transform: translateY(-20px);
  }
}
/* main header */
header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .content {
  padding: 30px;
  text-align: center;
  color: #fff;
  animation-delay: 2510ms;
}
header .content a {
  padding: 6px 15px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 30px;
  font-weight: bold;
  position: relative;
}
header .content a:before{
  position: absolute;
  content: '';
  left: 32.5%;
  bottom: -30px;
  border-top: 15px solid #fff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
header .content a:hover {
  background: #fff;
  color: #000;
  transition: 0.3s;
}
header .content i {
  font-size: 20px;
  animation: up 3s linear infinite;
}
@keyframes up {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateY(60px);
    opacity: 1;
  }
}
/* end header */
.container {
  width: 92%;
  margin: 3% auto;
  overflow: hidden;
}
.title {
  text-align: center;
  padding: 10px 0;
  width: 90%;
  margin: 5px auto;
  position: relative;
}
.title:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #5f8dee;
  border-radius: 5px;
}
.title:after {
  position: absolute;
  content: '';
  left: 50%;
  transform: translate(-50%,0);
  bottom: -1px;
  width: 100px;
  height: 4px;
  background: #5f8dee;
  border-radius: 10px;
}
.container .about-section {
  width: 100%;
  margin: 3% auto;
  padding: 20px 0;
}
.container .about-section .card {
  width: 96%;
  margin: 0 auto;
  text-align: center;
  background: #fff;
  box-shadow: 0 0 20px #ddd;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 30px;
}
.container .about-section .card img {
  width: 300px;
  margin: 5% auto;
  text-align: center;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  border: 2px solid  #fff;
  border-radius: 50%;
  z-index: 1;
}
.container .about-section .card h2 {
  padding: 10px 0;
  text-align: center;
}
.container .about-section .card p {
  padding: 10px;
  text-align: justify;
}
.container .about-section .card  table {
  color: #5f8dee;
  font-weight: bold;
  padding: 5px 10px;
  text-align: left;
}
.container .about-section .card table tr{
  border-bottom: 1px solid #eee;
}
.container .about-section .card table tr td:nth-child(2),
.container .about-section .card table tr td:nth-child(4) {
  color: #333;
  padding-left: 5px;
}
.container .about-section .card a {
  display: block;
  width: 150px;
  padding: 12px 20px;
  background: #5f8dee;
  color: #fff;
  border-radius: 40px;
  box-shadow: 0 5px 10px rgb(95,141,238,0.3);
  text-align: center;
}
/* end about section */
/* activetiy status */
.container .status {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 3% auto;
}
.container .status .box {
  width: 150px;
  height: 150px;
  text-align: center;
  padding-top: 30px;
  border: 1px dotted #ddd;
  margin: 5px auto;
  background: #fff;
}
.container .skills-section {
  width: 100%;
  margin: 3% auto;
  display: flex;
  justify-content: space-around;
  background: #fff;
  align-items: center;
  overflow: hidden;
}
.container .skills-section .skills {
  width: 45%;
  padding:0 15px;
}
.container .skills-section .skills .skills-bar {
  margin: 6% auto;
}
/* progress bar*/
.container .skills-section .skills .skills-bar .bar {
  width: 100%;
  height: 8px;
  background: #eee;
}
.container .skills-section .skills .skills-bar .bar .html {
  position: relative;
  width: 90%;
  height: 8px;
  background: #5f8dee;
}
.container .skills-section .skills .skills-bar .bar .css {
  position: relative;
  width: 85%;
  height: 8px;
  background: #5f8dee;
}
.container .skills-section .skills .skills-bar .bar .js {
  position: relative;
  width: 45%;
  height: 8px;
  background: #5f8dee;
}
.container .skills-section .skills .skills-bar .bar .boot {
  position: relative;
  width: 75%;
  height: 8px;
  background: #5f8dee;
}
.container .skills-section .skills .skills-bar .bar .jquery {
  position: relative;
  width: 60%;
  height: 8px;
  background: #5f8dee;
}
.container .skills-section .skills .skills-bar .bar .mater {
  position: relative;
  width: 35%;
  height: 8px;
  background: #5f8dee;
}
.container .skills-section .skills .skills-bar .bar .php {
  position: relative;
  width: 25%;
  height: 8px;
  background: #5f8dee;
}
.container .skills-section .skills .skills-bar .bar .sql {
  position: relative;
  width: 35%;
  height: 8px;
  background: #5f8dee;
}
.container .skills-section .skills .skills-bar .bar .java {
  position: relative;
  width: 20%;
  height: 8px;
  background: #5f8dee;
}
.container .skills-section .skills .skills-bar .bar .java {
  position: relative;
  width: 20%;
  height: 8px;
  background: #5f8dee;
}
.container .skills-section .skills .skills-bar .bar .sqlite {
  position: relative;
  width: 40%;
  height: 8px;
  background: #5f8dee;
}
.container .skills-section .skills .skills-bar .html:before {
  position: absolute;
  content: '90%';
  bottom: 20px;
  left: 95%;
  background: #000;
  color: #fff;
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 3px;
}
.container .skills-section .skills .skills-bar .css:before {
  position: absolute;
  content: '85%';
  bottom: 20px;
  left: 95%;
  background: #000;
  color: #fff;
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 3px;
}
.container .skills-section .skills .skills-bar .js:before {
  position: absolute;
  content: '45%';
  bottom: 20px;
  left: 95%;
  background: #000;
  color: #fff;
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 3px;
}
.container .skills-section .skills .skills-bar .boot:before {
  position: absolute;
  content: '75%';
  bottom: 20px;
  left: 95%;
  background: #000;
  color: #fff;
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 3px;
}
.container .skills-section .skills .skills-bar .jquery:before {
  position: absolute;
  content: '60%';
  bottom: 20px;
  left: 95%;
  background: #000;
  color: #fff;
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 3px;
}
.container .skills-section .skills .skills-bar .mater:before {
  position: absolute;
  content: '35%';
  bottom: 20px;
  left: 95%;
  background: #000;
  color: #fff;
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 3px;
}
.container .skills-section .skills .skills-bar .php:before {
  position: absolute;
  content: '25%';
  bottom: 20px;
  left: 95%;
  background: #000;
  color: #fff;
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 3px;
}
.container .skills-section .skills .skills-bar .sql:before {
  position: absolute;
  content: '35%';
  bottom: 20px;
  left: 95%;
  background: #000;
  color: #fff;
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 3px;
}
.container .skills-section .skills .skills-bar .java:before {
  position: absolute;
  content: '20%';
  bottom: 20px;
  left: 95%;
  background: #000;
  color: #fff;
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 3px;
}
.container .skills-section .skills .skills-bar .sqlite:before {
  position: absolute;
  content: '40%';
  bottom: 20px;
  left: 95%;
  background: #000;
  color: #fff;
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 3px;
}
/*.container .skills-section .skills .skills-bar .html:after {
  position: absolute;
  content: '';
  bottom: 10px;
  left: 98%;
  border: 10px solid transparent;
  border-left-color: #000;
  z-index: -1;
}
.container .skills-section .skills .skills-bar .css:after {
  position: absolute;
  content: '';
  bottom: 10px;
  left: 98%;
  border: 10px solid transparent;
  border-left-color: #000;
  z-index: -1;
}
.container .skills-section .skills .skills-bar .js:after {
  position: absolute;
  content: '';
  bottom: 10px;
  left: 98%;
  border: 10px solid transparent;
  border-left-color: #000;
  z-index: -1;
}
.container .skills-section .skills .skills-bar .boot:after {
  position: absolute;
  content: '';
  bottom: 10px;
  left: 98%;
  border: 10px solid transparent;
  border-left-color: #000;
  z-index: -1;
}
.container .skills-section .skills .skills-bar .jquery:after {
  position: absolute;
  content: '';
  bottom: 10px;
  left: 98%;
  border: 10px solid transparent;
  border-left-color: #000;
  z-index: -1;
}
.container .skills-section .skills .skills-bar .mater:after {
  position: absolute;
  content: '';
  bottom: 10px;
  left: 98%;
  border: 10px solid transparent;
  border-left-color: #000;
  z-index: -1;
}
.container .skills-section .skills .skills-bar .php:after {
  position: absolute;
  content: '';
  bottom: 10px;
  left: 98%;
  border: 10px solid transparent;
  border-left-color: #000;
  z-index: -1;
}
.container .skills-section .skills .skills-bar .sql:after {
  position: absolute;
  content: '';
  bottom: 10px;
  left: 98%;
  border: 10px solid transparent;
  border-left-color: #000;
  z-index: -1;
}
.container .skills-section .skills .skills-bar .java:after {
  position: absolute;
  content: '';
  bottom: 10px;
  left: 98%;
  border: 10px solid transparent;
  border-left-color: #000;
  z-index: -1;
}
 end skills section */
 /* portfolio */
     .swiper-container {
      width: 100%;
      overflow: hidden;
    }
    .swiper-slide {
      position: relative;
      margin: 0 auto;
      padding: 30px;
      background: #a0bacd;
      text-align: center;
      font-size: 18px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      -webkit-reflect-box: below 1px linear-gradient(transparent,transparent,#0006);
      overflow: hidden;
    }
    .swiper-slide:before{
      position: absolute;
      content: 'Web Design';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: grid;
      place-items: center;
      color: #fff;
      background:rgba(0,0,0,0.5);
      opacity: 0;
      visibility: hidden;
    }
    .swiper-slide:hover:before{
      opacity: 1;
      visibility: visible;
      transition: 0.3s;
    }
    #slide1:before{
      content: 'Sayafpoor OPD Clinic DBMS';
    }
    #slide2:before{
      content: 'Sayafpoor OPD Clinic DBMS login form';
    }
    #slide3:before{
      content: 'Nasim Brothers Shop DBMS';
    }
    #slide4:before{
      content: 'Nasim Brothers Shop Admin panel';
    }
    #slide5:before{
      content: 'Admin Login page UI Design';
    }
    #slide6:before{
      content: 'School Management System UI Design';
    }
    #slide7:before{
      content: 'Jamal Mubarez Music App';
    }
    #slide8:before{
      content: 'PHP Tutorials Web App';
    }
    .swiper-slide img{
      width: 100%;
      object-fit: cover;
      box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    }
 /* // portfolio */
.container .services-section {
  width: 100%;
  padding: 15px 5px;
  margin: 3% auto;
}
.container .services-section .services {
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.container .services-section .services .box {
  width: 300px;
  margin: 10px auto;
  padding: 15px;
  background: #fff;
  color: #000;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0 0 15px #ddd;
}
.container .services-section .services .box img {
  width: 100%;
  margin-bottom: 10px;
}
.container .contact {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
  background: #fff;
}
.container .contact .info {
  width: 50%;
  padding: 10px 5px;
}
.container .contact .info .banner {
  width: 100%;
  height: 40px;
  align-items: center;
  display: flex;
  margin: 10px auto;
  color: #333;
}
.container .contact .info .banner h2 {
  width: 50px;
  text-align: center;
  margin-right: 30px;
  color: #5f8dee;
  height: 100%;
  line-height: 40px;
  border-right: 2px solid #5f8dee;
  position: relative;
}
.container .contact .info .banner h2:before{
  position: absolute;
  content: '';
  top: 26%;
  right: -25px;
  border-top:10px solid transparent;
  border-bottom:10px solid transparent;
  border-right:10px solid transparent;
  border-left:15px solid #5f8dee;
}
.container .contact .info .banner h4 {
  color: #8c8c8c;
}
.container .contact form {
  width: 50%;
  padding: 20px 5px;
}
.container .contact form .input {
  position: relative;
  margin: 10px 0;
}
.contact form .input i {
  position: absolute;
  top: 10px;
  left: 12px;
  color: #8695b5;
  font-size: 22px;
}
.contact form input {
  width: 100%;
  height: 45px;
  border: none;
  padding-left: 40px;
  border: 1px solid #8695b5;
  border-radius: 2px;
  caret-color: #5f8dee;
}
/*.contact form .input label {
  position: absolute;
  content: '';
  left: 50px;
  bottom: 10px;
  color: #adadad;
  font-size: 20px;
  transition: 0.3s;
  pointer-events: none;
}*/
.contact form textarea {
  width: 100%;
  height: 100px;
  border: none;
  border: 1px solid #8695b5;
  padding-left: 40px;
  padding-top: 10px;
  border-radius: 2px;
  font-size: 16px;
  margin: 5px 0;
  caret-color: #5f8dee;
}
.contact form button {
  width: 100px;
  height: 44px;
  margin-top: 5px;
  background: #5f8dee;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: none;
}
.contact form .input input:focus{
  border-color: #5f8dee;
  transition: 0.3s;
}
.contact form .input input:focus ~ i,
.contact form .input input:valid ~ i {
  color: #5f8dee;
  transition: 0.3s;
}
footer {
  width: 100%;
  padding: 10px 15px;
  text-align: center;
  background: #000;
  color: #eee;
}
@media screen and (max-width:600px) {
  .container .about-section .card img{
    width: 200px;
  }
  .container .skills-section{
    display: block;
  }
  .container .skills-section .skills{
    width: 100%;
  }
  .container .contact .info, .container .contact form {
    width: 100%;
  }
}
