* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'ProductSans',sans-serif;
  text-decoration: none;
  outline: none;
  font-weight:normal;
}
@font-face {
  font-family:'ProductSans';
  src:url(ProductSans.ttf);
}
html {
  scroll-behavior: smooth;
}
body {
  background: #fff;
  height: 100vh;
}
/* loader */
.loader-box{
    position:fixed;
    content:'';
    top:0;
    left:0;
    width:100%;
    display:grid;
    place-items:center;
    height:100vh;
    background:#000;
    z-index:50;
}
.loader{
    width:130px;
    height:130px;
    position:relative;
    animation:rot 1s ease-in-out infinite;
}
.loader div{
    width:30px;
    height:30px;
    border-radius:50%;
    background:#fff;
    animation:sc 1.2s ease infinite;
    position:absolute;
    content:'';
}
.loader .rot1{
    top:20%;
    left:38%;
}
.loader .rot2{
    animation-delay:0.5s;
    left:22%;
    bottom:30%;
}
.loader .rot3{
    animation-delay:1s;
    right:22%;
    bottom:30%;
}
@keyframes sc{
    50%{
        transform:scale(0);
        opacity:0;
    }
}
@keyframes rot{
    100%{
        transform:rotate(360deg);
    }
}
/* // end of loader */
.navbar {
  position: fixed;
  content: '';
  width: 100%;
  padding: 5px 15px;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  z-index: 2;
}
.navbar .logo {
  color: #fff;
}
.navbar .time{
  display: flex;
  color: #fff;
  justify-content: space-between;
}
.navbar .time h3{
  font-family: Monospace;
}
.navbar .time .h,.m,.s{
  width: 20px;
  text-align: center;
}
.navbar .time .am{
  padding-left: 5px;
}
.navbar .navBtn {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.navbar .navBtn:before {
  position: absolute;
  content: '';
  width: 25px;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  transform: translateY(-7px);
  transform-origin: top;
  transition: 0.3s;
}
.navbar .navBtn div {
  width: 30px;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  transition: 0.3s;
}
.navbar .navBtn:after {
  position: absolute;
  content: '';
  width: 25px;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  transform: translateY(7px);
  transform-origin: bottom;
  transition: 0.3s;
}
.navbar .navBtn.act:before {
  transform: rotate(-45deg);
  width: 30px;
}
.navbar .navBtn.act div {
  margin-left: 100%;
  opacity: 0;
}
.navbar .navBtn.act:after {
  transform: rotate(45deg);
  width: 30px;
}
.sidebar {
  position: fixed;
  left: -100%;
  width: 260px;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  overflow: auto;
  z-index: 1;
  transition: 0.3s;
}
.sidebar::-webkit-scrollbar{
  display: none;
}
.sidebar.active {
  left: 0;
  transition: 0.3s;
}
.sidebar ul {
  margin-top: 60px;
}
.sidebar ul li a {
  display: block;
  width: 100%;
  padding: 10px 15px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
  animation-delay: 0.3s;
}
.sidebar ul li a:hover {
  background: #fff;
  color: #000;
  transition: 0.5s;
}
.sidebar h3 {
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  color: #fff;
  animation-delay: 0.5s;
}
.sidebar .social {
  width: 60%;
  margin: 5% auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  animation-delay: 0.7s;
}
.sidebar .social a {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 38px;
  font-size: 20px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 3px;
}
/* end navbar*/

/* back to top button*/
.top-btn {
  position: fixed;
  content: '';
  bottom: 20px;
  left: -100%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
  color: #fff;
  font-size: 18px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  z-index: 5;
  transition: 0.3s ease-in;
}
.top-btn.tb {
  left: 20px;
}
/* main header */
header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .content {
  padding: 30px;
  text-align: center;
  color: #fff;
  animation-delay: 2510ms;
}
header .content a {
  padding: 6px 15px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 30px;
  font-weight: bold;
  position: relative;
}
header .content a:before{
  position: absolute;
  content: '';
  left: 32.5%;
  bottom: -30px;
  border-top: 15px solid #fff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
header .content a:hover {
  background: #fff;
  color: #000;
  transition: 0.3s;
}
header .content i {
  font-size: 20px;
  animation: up 3s linear infinite;
}
@keyframes up {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateY(60px);
    opacity: 1;
  }
}
/* end header */
.container {
  width: 92%;
  margin: 3% auto;
  overflow: hidden;
}
.container .title {
  text-align: center;
  padding: 10px 0;
  width: 90%;
  margin: 5px auto;
  position: relative;
}
.container .title:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #5f8dee;
  border-radius: 5px;
}
.container .title:after {
  position: absolute;
  content: '';
  left: 50%;
  transform: translate(-50%,0);
  bottom: -1px;
  width: 100px;
  height: 4px;
  background: #5f8dee;
  border-radius: 10px;
}
.container .about-section {
  width: 100%;
  margin: 3% auto;
  padding: 20px 0;
}
.container .about-section .card {
  width: 94%;
  margin: 0 auto;
  text-align: center;
  background: #fff;
  box-shadow: 0 0 20px #ddd;
  border-radius: 10px;
  padding: 15px;
  padding-bottom: 20px;
}
.container .about-section .card img {
  width: 300px;
  margin: 5% auto;
  text-align: center;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  border: 2px solid  #fff;
  border-radius: 50%;
  z-index: 1;
}
.container .about-section .card h2 {
  padding: 10px 0;
  text-align: center;
}
.container .about-section .card p {
  padding: 10px;
  text-align: left;
}
.container .about-section .card  table {
  color: #5f8dee;
  font-weight: bold;
  padding: 5px 10px;
  text-align: left;
}
.container .about-section .card table tr td:nth-child(2),
.container .about-section .card table tr td:nth-child(4) {
  color: #333;
  padding-left: 5px;
}
.container .about-section .card a {
  padding: 10px 20px;
  background: #5f8dee;
  color: #fff;
  border-radius: 40px;
  box-shadow: 0 0 10px #ddd;
  text-align: left;
}
/* end about section */
/* activetiy status */
.container .status {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 3% auto;
}
.container .status .box {
  width: 150px;
  height: 150px;
  text-align: center;
  padding-top: 30px;
  border: 1px dotted #ddd;
  margin: 5px auto;
}
.container .skills-section {
  width: 100%;
  margin: 3% auto;
  overflow: hidden;
}
.container .skills-section .skills {
  padding: 15px;
}
.container .skills-section .skills .skills-bar {
  margin: 6% auto;
}
/* progress bar*/
.container .skills-section .skills .skills-bar .bar {
  width: 100%;
  height: 8px;
  background: #eee;
}
.container .skills-section .skills .skills-bar .bar .html {
  position: relative;
  width: 90%;
  height: 8px;
  background: #5f8dee;
}
.container .skills-section .skills .skills-bar .bar .css {
  position: relative;
  width: 85%;
  height: 8px;
  background: #5f8dee;
}
.container .skills-section .skills .skills-bar .bar .js {
  position: relative;
  width: 45%;
  height: 8px;
  background: #5f8dee;
}
.container .skills-section .skills .skills-bar .bar .boot {
  position: relative;
  width: 75%;
  height: 8px;
  background: #5f8dee;
}
.container .skills-section .skills .skills-bar .bar .jquery {
  position: relative;
  width: 60%;
  height: 8px;
  background: #5f8dee;
}
.container .skills-section .skills .skills-bar .bar .mater {
  position: relative;
  width: 35%;
  height: 8px;
  background: #5f8dee;
}
.container .skills-section .skills .skills-bar .bar .php {
  position: relative;
  width: 25%;
  height: 8px;
  background: #5f8dee;
}
.container .skills-section .skills .skills-bar .bar .sql {
  position: relative;
  width: 35%;
  height: 8px;
  background: #5f8dee;
}
.container .skills-section .skills .skills-bar .bar .java {
  position: relative;
  width: 20%;
  height: 8px;
  background: #5f8dee;
}
.container .skills-section .skills .skills-bar .bar .java {
  position: relative;
  width: 20%;
  height: 8px;
  background: #5f8dee;
}
.container .skills-section .skills .skills-bar .html:before {
  position: absolute;
  content: '90%';
  bottom: 20px;
  left: 95%;
  background: #000;
  color: #fff;
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 3px;
}
.container .skills-section .skills .skills-bar .css:before {
  position: absolute;
  content: '85%';
  bottom: 20px;
  left: 95%;
  background: #000;
  color: #fff;
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 3px;
}
.container .skills-section .skills .skills-bar .js:before {
  position: absolute;
  content: '45%';
  bottom: 20px;
  left: 95%;
  background: #000;
  color: #fff;
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 3px;
}
.container .skills-section .skills .skills-bar .boot:before {
  position: absolute;
  content: '75%';
  bottom: 20px;
  left: 95%;
  background: #000;
  color: #fff;
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 3px;
}
.container .skills-section .skills .skills-bar .jquery:before {
  position: absolute;
  content: '60%';
  bottom: 20px;
  left: 95%;
  background: #000;
  color: #fff;
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 3px;
}
.container .skills-section .skills .skills-bar .mater:before {
  position: absolute;
  content: '35%';
  bottom: 20px;
  left: 95%;
  background: #000;
  color: #fff;
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 3px;
}
.container .skills-section .skills .skills-bar .php:before {
  position: absolute;
  content: '25%';
  bottom: 20px;
  left: 95%;
  background: #000;
  color: #fff;
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 3px;
}
.container .skills-section .skills .skills-bar .sql:before {
  position: absolute;
  content: '35%';
  bottom: 20px;
  left: 95%;
  background: #000;
  color: #fff;
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 3px;
}
.container .skills-section .skills .skills-bar .java:before {
  position: absolute;
  content: '20%';
  bottom: 20px;
  left: 95%;
  background: #000;
  color: #fff;
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 3px;
}
.container .skills-section .skills .skills-bar .html:after {
  position: absolute;
  content: '';
  bottom: 10px;
  left: 98%;
  border: 10px solid transparent;
  border-left-color: #000;
  z-index: -1;
}
.container .skills-section .skills .skills-bar .css:after {
  position: absolute;
  content: '';
  bottom: 10px;
  left: 98%;
  border: 10px solid transparent;
  border-left-color: #000;
  z-index: -1;
}
.container .skills-section .skills .skills-bar .js:after {
  position: absolute;
  content: '';
  bottom: 10px;
  left: 98%;
  border: 10px solid transparent;
  border-left-color: #000;
  z-index: -1;
}
.container .skills-section .skills .skills-bar .boot:after {
  position: absolute;
  content: '';
  bottom: 10px;
  left: 98%;
  border: 10px solid transparent;
  border-left-color: #000;
  z-index: -1;
}
.container .skills-section .skills .skills-bar .jquery:after {
  position: absolute;
  content: '';
  bottom: 10px;
  left: 98%;
  border: 10px solid transparent;
  border-left-color: #000;
  z-index: -1;
}
.container .skills-section .skills .skills-bar .mater:after {
  position: absolute;
  content: '';
  bottom: 10px;
  left: 98%;
  border: 10px solid transparent;
  border-left-color: #000;
  z-index: -1;
}
.container .skills-section .skills .skills-bar .php:after {
  position: absolute;
  content: '';
  bottom: 10px;
  left: 98%;
  border: 10px solid transparent;
  border-left-color: #000;
  z-index: -1;
}
.container .skills-section .skills .skills-bar .sql:after {
  position: absolute;
  content: '';
  bottom: 10px;
  left: 98%;
  border: 10px solid transparent;
  border-left-color: #000;
  z-index: -1;
}
.container .skills-section .skills .skills-bar .java:after {
  position: absolute;
  content: '';
  bottom: 10px;
  left: 98%;
  border: 10px solid transparent;
  border-left-color: #000;
  z-index: -1;
}
/* end skills section */
.container .services-section {
  width: 100%;
  padding: 15px 5px;
  margin: 3% auto;
}
.container .services-section .services {
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.container .services-section .services .box {
  width: 300px;
  margin: 10px auto;
  padding: 15px;
  background: #fff;
  color: #000;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0 0 15px #ddd;
}
.container .services-section .services .box img {
  width: 100%;
  margin-bottom: 10px;
}
.container .contact {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
}
.container .contact .info {
  width: 50%;
  padding: 10px 5px;
}
.container .contact .info .banner {
  width: 100%;
  height: 40px;
  align-items: center;
  display: flex;
  margin: 10px auto;
  color: #333;
}
.container .contact .info .banner h2 {
  width: 50px;
  text-align: center;
  margin-right: 30px;
  color: #5f8dee;
  height: 100%;
  line-height: 40px;
  border-right: 2px solid #5f8dee;
  position: relative;
}
.container .contact .info .banner h2:before{
  position: absolute;
  content: '';
  top: 26%;
  right: -25px;
  border-top:10px solid transparent;
  border-bottom:10px solid transparent;
  border-right:10px solid transparent;
  border-left:15px solid #5f8dee;
}
.container .contact .info .banner h4 {
  color: #8c8c8c;
}
.container .contact form {
  width: 50%;
  padding: 20px 5px;
}
.container .contact form .input {
  width: 100%;
  height: 45px;
  border-bottom: 2px solid #ddd;
  position: relative;
  margin: 20px 0;
  display: flex;
}
.contact form .input i {
  color: #8c8c8c;
  width: 45px;
  line-height: 35px;
  font-size: 22px;
  text-align: center;
}
.contact form .input input {
  width: 80%;
  height: 100%;
  border: none;
  caret-color: #5f8dee;
}
.contact form .input label {
  position: absolute;
  content: '';
  left: 50px;
  bottom: 10px;
  color: #adadad;
  font-size: 20px;
  transition: 0.3s;
  pointer-events: none;
}
.contact form textarea {
  width: 100%;
  height: 100px;
  border: none;
  border: 2px solid #ddd;
  padding: 15px;
  font-size: 16px;
  margin: 10px 0;
  caret-color: #5f8dee;
}
.contact form button {
  width: 100px;
  height: 44px;
  margin-top: 5px;
  background: #5f8dee;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: none;
}
.contact form .input input:focus ~ label,
.contact form .input input:valid ~ label {
  transform: translateY(-27px);
  left: 0px;
  font-size: 14px;
  font-weight: bold;
  color: #8c8c8c;
}
footer {
  width: 100%;
  padding: 10px 15px;
  text-align: center;
  background: #000;
  color: #eee;
}
@media screen and (max-width:600px) {
  .container .about-section .card img{
    width: 200px;
  }
  .container .contact .info, .container .contact form {
    width: 100%;
  }
}
